kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  # (opcional) mapear portas 80/443 p/ usar Ingress no localhost
  # extraPortMappings:
  #   - containerPort: 80
  #     hostPort: 80
  #     protocol: TCP
  #   - containerPort: 443
  #     hostPort: 443
  #     protocol: TCP
- role: worker
kubeadmConfigPatches:
- |
  kind: KubeletConfiguration
  apiVersion: kubelet.config.k8s.io/v1beta1
  cgroupDriver: systemd
